body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    scroll-behavior: smooth;
}

.app-bar {
    display: flex;
    flex-direction: row;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.app-bar-brand {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.app-bar-item {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
}

.footer-wrapper {
    /*height: 378px;*/
}

.footer-wrapper-bottom {
    height: 100px;
    background: #0798EA;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 8px;*/
}

.footer-wrapper-top {
    /*height: 278px;*/
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    text-align: center;
    background: #3CB9FF;
}

.footer-wrapper-bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

}

.meet-team-wrapper {
    background-color: white;
    padding-top: 48px;
    padding-bottom: 48px;
}
.news-and-events-wrapper{
    background: #E5E5E5;
    padding-top: 48px;
    padding-bottom: 48px;
}

.meet-team-line{
    border: 1px solid #009FF9;
    margin-left: 5px;
    margin-right: 5px;
    height: 2px;
    /*width: 100%;*/
}




.headerIntro{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.1)), url("images/headerintrobg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    color: #FFFFFF;
}
.header-text{
    display: table-cell;
    vertical-align: middle;
}
.headerIntro a{
    background-color: #009FF9;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

}
.headerIntro p{
    padding: 20px 0;
    font-weight: bold;
}

.what-we-do {
    margin-top: 40px;
}
.what-we-do a{
    text-decoration: none;
}
.jumbotron p{
    color: white;
    font-weight: 500;
}
.what-we-do-1{
    background-image: linear-gradient(to right, rgba(1, 131, 251, 0.66), rgba(1, 131, 251, 0.66)), url("images/what-we-do-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.what-we-do-2{
    background-image: linear-gradient(to right, rgba(135, 2, 182, 0.81), rgba(135, 2, 182, 0.81)), url("images/what-we-do-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.what-we-do-3{
    background-image: linear-gradient(to right, rgba(1, 251, 161, 0.66), rgba(1, 251, 161, 0.66)), url("images/what-we-do-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.events-image{
    margin: auto;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
