body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/

.app-bar {
    display: flex;
    flex-direction: row;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app-bar-brand {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.app-bar-item {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
}

.footer-wrapper {
    height: 378px;
}

.footer-wrapper-bottom {
    height: 100px;
    background: #0798EA;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 8px;*/
}

.footer-wrapper-top {
    /*height: 278px;*/
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;

    background: #3CB9FF;
}

.footer-wrapper-bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;

}
